.restaurant-page {
  width: 100%;
  margin-top: 30px;
}

.restaurant-header {
  margin-bottom: 40px;
}

.restaurant-banner {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 16px;
  margin-bottom: 20px;
}

.restaurant-header h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #262626;
}

.restaurant-header p {
  color: #676767;
  font-size: 16px;
}

.restaurant-header{
  margin-bottom: 20px;
}

.restaurant-name-box{
  display:flex;
  align-items:center;
  gap:10px;
}

.restaurant-verified{
  width:24px;
  height:24px;
}

.verified-badge{
  width:18px;
  height:18px;
}

@media (max-width: 768px) {
  .restaurant-banner {
    height: 220px;
  }

  .restaurant-header h1 {
    font-size: 24px;
  }
}