.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
}
.navbar .profile{
    width: 40px;
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 15px;
}

.navbar-right button{
    border: none;
    padding: 8px 14px;
    background: #f1e60d;
    border-radius: 5px;
    cursor: pointer;
}